*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-around;
    background-color: white;
    -webkit-box-shadow: 0px 4px 65px -32px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 65px -32px rgba(0,0,0,0.75);
box-shadow: 0px 4px 65px -32px rgba(0,0,0,0.75);
    
}

hr{
    margin: none;
    padding: none;
}

p{
    margin: 0;
}
.logo{
    margin-right: 10px;
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.1);

}

.logo-box{
    display: flex;
    align-items: center;
    font-size: small;
    cursor: pointer;
}


.loco:hover .others{
    color: rgb(255, 85, 0);
}
.others{
    font-weight: bold;
    margin: 3px;
}

.location{
    color: rgb(158, 158, 158);
}

.list{
    display: flex;
    font-weight: 600;
    align-items: center;
}



/* navbar links */


.hover-item,.cart{
    margin-right: 2rem;
    color: rgb(69, 69, 69);
    cursor: pointer;
}

.hover-item:hover{
    color: rgb(255, 85, 0);
}


.cart:hover{
    color: rgb(255, 85, 0);
    background-color: transparent;
    border: 1px solid rgb(255, 85, 0);
}

.cart{
    color: aliceblue;
    background-color: rgb(255, 85, 0);;
    border-radius: 30px;
    padding: .5rem 2.2rem;
    border: 1px solid rgb(255, 85, 0); 
}


.cart > a{
    color: aliceblue;
}







/* Sub-Nav */

.restaurant{
    font-weight: bolder;
    font-size: 1.7rem;
}


.header{
    padding: 2rem 5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.filters{
    display:flex;
    align-items: center;
}
/* main */

.main{
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}


.food-item{
    display: flex;
    justify-content: space-between;
}

.filters-item{
    color: rgb(111, 111, 111);
    margin: 0 25px;
    cursor: pointer;
}

.filters-item:hover{
    color:rgb(255, 85, 0) ;
}

.con{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    align-items: center;
}

.rating{
    color: aliceblue;
    background-color: rgb(0, 165, 17);
    padding: 3px 7px;
    
}

.rate{
    margin-left: 3px;
}

.food-card{
    padding: 1.2rem;
    cursor: pointer;
   
}

.food-card:hover{
    border: 1px solid rgb(226, 226, 226);
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.07);
box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.07);

}

.res-name{
    font-weight: bold;
    margin-bottom: 5px;
}

.dish-cat{
    font-size: smaller;
    color: rgb(86, 86, 86);
    margin-bottom: 15px;
}

.food-img{
    margin-bottom: 20px;
}



.login{
    padding: 2rem;
    background-color: rgb(240, 248, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 9;
}

.overlay{
    background: rgba(112, 112, 112, 0.364);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


a{
    text-decoration: none;
}

a:hover{
    color: rgb(255, 85, 0);
}